<h1>Angular Router</h1>
<nav>
  <!-- ./ 或者不带前导斜杠来指定当前级别,所以下面的3种指定path的方式都是指向 http://localhost:4200/crisis-center -->
  <!-- <a routerLink="crisis-center" routerLinkActive="active">Crisis Center</a> -->
  <!-- <a routerLink="./crisis-center" routerLinkActive="active">Crisis Center</a> -->
  <!-- 另外，需要注意的是，angular对于相同path的路由，不会重新加载，这是在一个guard中判断的？ -->
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>
<router-outlet></router-outlet>
